[defaults]
inventory = ./inventories/inventory.yaml

collections_path = ./collections
roles_path = ./roles_galaxy:./roles
become_plugins = ./plugins/become
vault_password_file = .vault_pass

[privilege_escalation]
become_method = sudo_wrapped

# ubuntu 26.04+ only
# become_exe = sudo.ws
