# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.12.0.schema.json
PackageIdentifier: PostgreSQL.PostgreSQL.18
PackageVersion: {{ postgresql_client_windows_version }}
PackageLocale: en-US
Publisher: PostgreSQL Global Development Group
PublisherUrl: https://www.postgresql.org/
PublisherSupportUrl: https://www.postgresql.org/support/
PackageName: PostgreSQL 18 Client Tools
PackageUrl: https://www.postgresql.org/download/windows/
License: PostgreSQL
LicenseUrl: https://www.postgresql.org/about/licence/
ShortDescription: PostgreSQL command-line client tools without the database server
Tags:
  - database
  - pg-dump
  - psql
ManifestType: defaultLocale
ManifestVersion: 1.12.0
