# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.12.0.schema.json
PackageIdentifier: NAVER.D2Coding
PackageVersion: {{ d2coding_latest_version }}
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.12.0
