# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.12.0.schema.json
PackageIdentifier: NAVER.D2Coding
PackageVersion: {{ d2coding_latest_version }}
InstallerType: zip
NestedInstallerType: font
Scope: user
UpgradeBehavior: install
Installers:
  - Architecture: neutral
    InstallerUrl: {{ d2coding_latest_asset.browser_download_url }}
    InstallerSha256: {{ d2coding_latest_asset.digest | regex_replace('^sha256:', '') | upper }}
    NestedInstallerFiles:
      - RelativeFilePath: D2Coding/D2Coding-Ver{{ d2coding_latest_version }}-{{ d2coding_latest_build }}.ttf
      - RelativeFilePath: D2Coding/D2CodingBold-Ver{{ d2coding_latest_version }}-{{ d2coding_latest_build }}.ttf
      - RelativeFilePath: D2CodingLigature/D2Coding-Ver{{ d2coding_latest_version }}-{{ d2coding_latest_build }}-ligature.ttf
      - RelativeFilePath: D2CodingLigature/D2CodingBold-Ver{{ d2coding_latest_version }}-{{ d2coding_latest_build }}-ligature.ttf
ManifestType: installer
ManifestVersion: 1.12.0
