CONFIG_FILE="/etc/alloy/config.alloy"
CUSTOM_ARGS="--storage.path=/var/lib/alloy --server.http.listen-addr=127.0.0.1:12345 --stability.level=public-preview --disable-reporting"
TELEMETRY_TOKEN={{ telemetry_token | quote }}
