<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.prometheus.smartctl-exporter</string>
  <key>ProgramArguments</key><array>
    <string>/usr/local/bin/smartctl_exporter</string>
    <string>--web.listen-address=127.0.0.1:9633</string>
    <string>--smartctl.path=/opt/homebrew/sbin/smartctl</string>
    <string>--smartctl.interval={{ monitoring_scrape_interval }}</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/var/log/smartctl_exporter.log</string>
  <key>StandardErrorPath</key><string>/var/log/smartctl_exporter.err.log</string>
</dict></plist>
