# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.12.0.schema.json
PackageIdentifier: Pimalaya.Himalaya
PackageVersion: {{ himalaya_latest_version }}
PackageLocale: en-US
Publisher: Pimalaya
PublisherUrl: https://pimalaya.org/
PublisherSupportUrl: https://github.com/pimalaya/himalaya/issues
PackageName: Himalaya
PackageUrl: https://github.com/pimalaya/himalaya
License: MIT
LicenseUrl: https://github.com/pimalaya/himalaya/blob/v{{ himalaya_latest_version }}/LICENSE-MIT
ShortDescription: CLI to manage emails
ManifestType: defaultLocale
ManifestVersion: 1.12.0
