# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.12.0.schema.json
PackageIdentifier: Grafana.gcx
PackageVersion: {{ gcx_latest_version }}
PackageLocale: en-US
Publisher: Grafana Labs
PublisherUrl: https://grafana.com/
PublisherSupportUrl: https://github.com/grafana/gcx/issues
PackageName: gcx
PackageUrl: https://github.com/grafana/gcx
License: Apache-2.0
LicenseUrl: https://github.com/grafana/gcx/blob/v{{ gcx_latest_version }}/LICENSE
ShortDescription: CLI for managing Grafana and Grafana Cloud resources
ManifestType: defaultLocale
ManifestVersion: 1.12.0
